/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";


global
{
	fontFamily: "Anonymous Pro";
	fontSize: 10;
}
@font-face
{
	fontFamily: "Anonymous Pro";
	src: url("C:\Windows\Fonts\Anonymous Pro.ttf");
	embedAsCFF: true;
}